@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Russo+One&display=swap");

//FONTS
$inter: "Inter", sans-serif;
$russo: "Russo One", sans-serif;

//COLORS

$accent_1: #312dff;
$accent_2: #081022;
$yellow: #ccff00;
$black: black;
$white: white;
$body_regular: #2f395d;
$grey_middle: #a0a6b5;
$white_less: #cfd4ee;
$blue: #54a3ff;
$lightGray: rgba(gray, 0.4);

//MEDIA SIZES

$media-xs: 480px;
$media-s: 768px;
$media-m: 992px;
$media-l: 1200px;
